<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>roBags</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <!-- header  -->
    <header class="header">
      <div class="container">
        <!-- navbar -->
        <div class="navbar">
          <a href="/" class="logo">
            <img src="/images/logo.png" width="125px" alt="logo" />
          </a>
          <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/allProducts">Products</a></li>
              <% if (user) { %>
              <li class="logout">Logout</li>
              <% } else { %>
              <li><a href="/signUp">SignUp</a></li>
              <li><a href="/login">Login</a></li>

              <% } %>
            </ul>
          </nav>
          <a href="/cart">
            <img
              src="/images/cart.png"
              width="30px"
              height="30px"
              alt="cart-img"
              class="cart-button"
            />
          </a>
          <img
            src="/images/menu.png"
            width="125px"
            alt="logo"
            class="menu-icon"
          />
        </div>
        <!-- end of navbar -->
        <!-- banner area  -->
        <section class="row">
          <div class="col-2">
            <h1>A GIRL SHOULD BE TWO THINGS, CLASSY AND FABULOUS!</h1>
            <!-- make it dynamic (change it to a new qoute everyday or maybe every hour) -->
            <p class="caption">
              <!-- <span class="quotes">&#8220;</span> -->No matter how you
              feel, Get up,
              <br />
              Dress Up and Never Give Up
            </p>
            <a href="/allProducts" class="btn">Explore Now &#8594;</a>
          </div>
          <div class="col-2">
            <img src="/images/bag7.png" alt="banner image" />
          </div>
        </section>
        <!-- end of banner area  -->
      </div>
    </header>
    <!-- end of header  -->

    <%- body %>
    <!-- footer  -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="footer-col-1">
            <h3>Download Our App</h3>
            <p>Download App for Android and ios mobile phone.</p>
            <div class="app-logo">
              <img src="/images/play-store.png" alt="" />
              <img src="/images/app-store.png" alt="" />
            </div>
          </div>
          <div class="footer-col-2">
            <img src="/images/logo-white.png" alt="" />
            <p>Our purpose is to get ladies nice bags.</p>
          </div>
          <!-- <div class="footer-col-3">
            <h3>Useful Links</h3>
            <ul>
              <li>Coupons</li>
              <li>Blog Posts</li>
              <li>Return Policy</li>
            </ul>
          </div> -->
          <div class="footer-col-4">
            <h3>Follow Us</h3>
            <ul>
              <li>Instagram</li>
              <li>FaceBook</li>
              <li>Twitter</li>
              <li>YouTube</li>
            </ul>
          </div>
        </div>
        <hr />
        <p class="copyright">Copyright&copy; 2021 - DAPDEV</p>
      </div>
    </footer>
    <!-- end of footer  -->
    <script src="./scripts/app.js"></script>
    <script src="./scripts/logout.js"></script>
  </body>
</html>
