<div class="small-container">
  <div class="row row-2">
    <h2>All Products</h2>
    <!-- <select name="products" id="select">
      <option>Brand</option>
      <option>LV</option>
      <option>Gucci</option>
      <option>Prada</option>
      <option>YSL</option>
      <option>CK</option>
      <option>MK</option>
      <option>DnG</option>
    </select> -->
  </div>
  <section class="row">
    <% for( let product of products ) { %>
    <a class="col-4" href="/bags/<%= product.id %>">
      <div>
        <img src="<%= product.imgSrc %> " alt="product 1" />
        <h4><%= product.name %></h4>

        <div class="ratings">
          <!-- font awesome star ratings -->
        </div>
        <p>Ghc <%= product.price %>.00</p>
      </div>
    </a>
    <% } %>
    <!-- end of one product -->
  </section>
</div>
