<div class="small-container">
  <!-- Latest products  -->
  <h2 class="title">Latest products</h2>
  <section class="row">
    <% for( let product of products ) { %>
    <a class="col-4" href="/bags/<%= product._id %>">
      <div>
        <img src="<%= product.imgSrc %> " alt="product 1" />
        <h4><%= product.name %></h4>

        <div class="ratings">
          <!-- font awesome star ratings -->
        </div>
        <p>Ghc <%= product.price %>.00</p>
      </div>
    </a>
    <% } %>
    <!-- end of one product -->
  </section>
  <!-- End of latest products  -->
</div>
<!-- end of featured products -->
<!-- offer  -->
